*{
	margin:0;
	padding:0;
	letter-spacing:0;
	box-sizing:border-box;
}
body{
	font-size:13px;
}

input,
select,
textarea{
	padding:5px;
	outline:none;
	border:none;
	font-size:14px;
}
pagearea,
pagearea page,
pagearea page wk{
	background:#eee;
}
dl{
	margin-bottom:20px;
}
dl dt{
	margin-bottom:5px;
}
dl dd{
	margin-bottom:10px;
}
h1,h2,h3,h4,h5{
	font-weight:100;
}
h1{
	margin-bottom:1rem;
}
h2{
	margin-bottom:1rem;
}

.error{
	background:#a31;
	color:#fff;
	padding:5px;
	margin:3px 0;
}

.btn{
	background:#127;
	color:#fff;
	display:inline-block;
	padding:5px 10px;
	line-height:1.8rem;
}
.btn.btn-success{
	background:#4a9;
	border:none;
}

.login_form,
.login_form wk{
	background:#167;
	color:#fff;
}
.login_form h2{
	font-size:32px;
	font-weight:100;
}
.login_form form{
	position:absolute;
	border:solid 1px #ccc;
	padding:35px;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	-webkit-transform:translateX(-50%) translateY(-50%);
	width:370px;
	opacity:1;
	-webkit-opacity:1;
	transition-duration:300ms;
	-webkit-transition-duration:300ms;
}
.login_form form.closed{
	opacity:0;
	-webkit-opacity:0;
}
.login_form input{
	width:100%;
}
.login_form table{
	width:100%;
}
.login_form table tr th{
	width:70px;
	padding:10px 0;
	padding-right:10px;
}
.login_form table tr td{
	padding:10px 0;

}


header{
	padding:0 20px;
	background:#298;
	color:#fff;
	position:fixed;
	left:0;
	top:-50px;
	width:100%;
	z-index:1000;
	transition-duration:500ms;
	-webkit-transition-duration:500ms;
	opacity:0;
	-webkit-opacity:0;
}
header.open{
	top:0;
	opacity:1;
	-webkit-opacity:1;
}
header a{
	color:#fff;
	line-height:50px;
	display:inline-block;
	text-decoration:none;
	font-weight:100;
}
header a.title{
	font-size:24px;
}
.sidemenu{
	background:#278;
	color:#fff;
	position:fixed;
	z-index:100;
	left:-250px;
	top:0;
	width:250px;
	height:100%;
	opacity:0;
	-webkit-opacity:0;
	padding:20px;
	padding-top:70px;
	transition-duration:500ms;
}
.sidemenu p{
	margin-bottom:10px;
}
.sidemenu a{
	color:#fff;
	text-decoration:none;
}
.sidemenu.open{
	left:0;
	opacity:1;
	-webkit-opacity:1;	
}
.sidemenu+pagearea{
	transition-duration:500ms;
}
header.open~pagearea{
	top:50px;
}
.sidemenu.open+pagearea{
	left:250px;
}

table tr th,
table tr td{
	padding:7px;
}
table tr th{
	vertical-align:top;
	line-height:2.2rem;
	width:140px;
	text-align:right;
}
label{
	display:inline-block;	
	margin-right:10px;
}
input[type=radio]{
	margin-right:5px;
	vertical-align:middle;
}