<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="bin/jquery.js"></script>
<script src="bin/core.js"></script>
<script src="bin/app.js"></script>
<script src="bin/cache.js"></script>
<link rel="stylesheet" href="bin/jsf3.css">
<link rel="stylesheet" href="assets/style.css">
</head>
<body>
	
<header>
	<a href="top" class="title">Test01</a>
</header>
<div class="sidemenu"></div>

<pagearea></pagearea>

<div class="dialogarea"></div>

</body>
</html>